// the main color
$vssue-theme-color

// the text color (used for common text)
$vssue-text-color = #fffd78

// the text light color (used for muted text, disabled text, etc)
$vssue-text-light-color = #fffd78

// the border color
$vssue-border-color

// the progress color
$vssue-progress-color

// the font size
$vssue-font-size

// the font family
$vssue-font-family

// the mobile breakpoint
$vssue-breakpoint-mobile

// the text direction (ltr / rtl) (used for RTL languages, e.g. Hebrew)
$vssue-direction