@font-face
  font-family 'Variex'
  src url('/ttf/Variex.ttf') format('truetype')
@font-face
  font-family 'SansAndreas'
  src url('/ttf/Sans Andreas.ttf') format('truetype')
@font-face
  font-family 'SansAndreas Bold'
  src url("/ttf/Sans Andreas Bold.ttf") format('truetype')
@font-face
  font-family 'JetBrains Mono'
  src url("/ttf/jetbrains-mono.italic.ttf") format('truetype')
code
  font-family "JetBrains Mono"
body
  font-family 'Variex'
p,li
  font-family 'SansAndreas'
h3,h4,h5,h6
  font-family 'SansAndreas Bold'
